//-----------------------
$primary-black: #1c1c1c;

//--------------------
$primary-white: #ffffff;

//----------------------
$primary-magenta: #720156;
$secondary-magenta: #f6005e;

//------------------
$primary-ash: #eeeeee;

//------------------
$primary-grey: #cbcbcb;
